body {
    font-family: sans-serif;
    background-color: white;

    display: flex;
    align-content: center;

    font-size: 25px;
}

form {
    margin: 0 auto;

    color: white;
}

form input[type='text'] {
    margin-top: 10px;
    border: none;
    border-radius: 6px;

    padding: 6px;
    width: 300px;
    height: 30px;

    font-size: 20px;

    transition: .3s;
    border: 2px solid black;
}

form input[type='text']:focus {
    outline: none;
    background-color: #bdd0ef;
}

form input[type='submit'] {
  margin-left: auto;
  padding: 12px;
  border: none;
  background: #808080;
  color: #fff;
  cursor: pointer;

  transition: .3s;
}

form input[type='submit']:hover {
    background: #bdd0ef;
    color: black;
}

#hoursdiv form {
    display: block;

    margin: 0 auto;
}

#hoursdiv form input {
    margin: 12px;
}

#hoursdiv {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main {
    position: absolute;

    border-top: 1px solid white;
    border-bottom: none;

    float: bottom;
    bottom: 0;

    width: 100%;
}

#hoursdiv ul {
    list-style-type: none;
    padding: 0;
}


#hoursdiv ul li {
    color: white;
}
