/* Colors: https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.37058823529411766,0.5808945564413306,0.75,0.24705882352941178,0.38726303762758546,0.5,0.49411764705882355,0.7745260752551075,1,0.12352941176470589,0.19363151881377688,0.25,0.44470588235294123,0.6970734677295968,0.9&swatchOrder=0,1,2,3,4 */

/* Sorry bout the link :) */

body {
    margin: 0;
    margin: 0;
    padding: 0;
    background-color: white;
}

hr {
    background-color: black;
}

html {
    font-family: sans-serif;
}

#nohours {
   display: flex;
   align-content: center;
   justify-content: center;
   color: white;
}

.hourtable {
    border-collapse: collapse;
    width: 50%;

    margin-left: auto;
    margin-right: auto;

}

td {
    padding: 0;
    height: 50px;
}

td:not(.reasontd) {
    text-align: center;
    display:table-cell;
    min-width: 100px;
}

th {
    background-color: white;
    color: black;
    border-bottom: 2px solid black;
}

td:not(.reasontd) {
    border-bottom: 2px solid black;
}

tr {
    color: black;
    height: 50px;
    
    background-color: white;
    transition: 0.2s;
}

tr:hover {
    transition: 0.2s;
    color: #bdd0ef;
    cursor: pointer;
}

#editbtn:hover,
#claimbtn:hover {
    background: #bdd0ef;
    color: black;
}

#main {
    position: absolute;

    border-top: 2px solid black;
    border-bottom: none;

    float: bottom;
    bottom: 0;

    width: 100%;
}

#info-tab {
    width: 200px;
    border-left: 2px solid black;
    height: 100%;

    right: 0;
    float: right;

    position: fixed;
    background-color: white;
    color: black;

    text-align: center;
}

#claim-button {
    height: 75px;
    width: 150px;

    background-color: white;
    color: black;

    border: 2px solid black;
    border-radius: 10px;

    padding: 0;
    transition: .3s;
}

#claim-button:hover {
    color: white;
    background-color: black;
    transition: .3s;
}

#info-reason p,
#info-reason h2 {
    color: black;
}

#info-time hr {
    width: 100%;
}

#info-reason h2 {
    margin-top: 0;
}

#start_time {
    margin-top: 6px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 75px;

    border: 2px solid black;
}

#end_time {
    margin-top: 6px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 75px;

    border: 2px solid black;
}