/* Colors: https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.37058823529411766,0.5808945564413306,0.75,0.24705882352941178,0.38726303762758546,0.5,0.49411764705882355,0.7745260752551075,1,0.12352941176470589,0.19363151881377688,0.25,0.44470588235294123,0.6970734677295968,0.9&swatchOrder=0,1,2,3,4 */

/* Sorry bout the link :) */

body {
    margin: 0;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1F3140;
}

#nohours {
   display: flex;
   align-content: center;
   justify-content: center;
   color: white;
}

.hourtable {
    border-collapse: collapse;
    width: 50%;

    margin-left: auto;
    margin-right: auto;

}

td {
    padding: 0;
    height: 50px;
}

td:not(.reasontd) {
    text-align: center;
    display:table-cell;
    min-width: 100px;
}

th {
    background-color: #71B2E5;
    color: white;
    border-bottom: 1px solid white;
}

td:not(.reasontd) {
    border-bottom: 1px solid white;
}

tr {
    color: white;
    height: 50px;
    
    background-color: #3F637F;
}

tr:hover {
    transition: 0.5s;
    color: #bdd0ef;

    cursor: pointer;
}

#editbtn:hover,
#claimbtn:hover {
    background: #bdd0ef;
    color: black;
}

#main {
    position: absolute;

    border-top: 1px solid white;
    border-bottom: none;

    float: bottom;
    bottom: 0;

    width: 100%;
}

#menu {
    border-right: 1px solid white;

    max-width: 200px;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3F637F;
    overflow-x: hidden;
    transition: 0.5s;

    margin: 0;
    position: fixed;
}

.menu_link {
    padding-left: 6px;
}

#menu ul {
    padding-left: 0;
    margin-top: 0;
}

#menu ul li {
    list-style: none;
    padding-left: 0;
}

#menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;

    opacity: 1;

    transition: 0.3s;
    border-bottom: 1px solid white;
}

#menu a:hover {
    color: #bdd0ef;
}

#info-tab {
    width: 200px;
    border-left: 1px solid white;
    height: 100%;

    right: 0;
    float: right;

    position: fixed;
    background-color: #3F637F;
}