/* Colors: https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.37058823529411766,0.5808945564413306,0.75,0.24705882352941178,0.38726303762758546,0.5,0.49411764705882355,0.7745260752551075,1,0.12352941176470589,0.19363151881377688,0.25,0.44470588235294123,0.6970734677295968,0.9&swatchOrder=0,1,2,3,4 */

/* Sorry bout the link :) */

html {
    font-family: sans-serif;
}

.reason {
    text-align: center;
}

.menu {
    max-width: 200px;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3F637F;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.menu a:hover {
    color: #bdd0ef;
}

body {
    background-color: #1F3140;
}

table {
    border-collapse: collapse;
}

#hoursdiv {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

td { 
    display:table-cell;
    min-width:100px;
}

th, td, {
    padding: 12px;
    text-align: left;
    display: block;
}

th {
    background-color: #71B2E5;
    color: white;
}

td:not(.reasontd) {
    border-bottom: 1px solid white;
}

tr {
    text-align: left;
    color: white;
}

tr:nth-child(even){
    background-color: #3F637F;
}

tr:nth-child(odd){
    background-color: #5E94BF;
}

tr:hover {
    transition: 0.5s;
    color: #bdd0ef;
}

#claimbtn {
  margin-left: auto;
  padding: 12px;
  border: none;
  background: #808080;
  color: #fff;
  cursor: pointer;
}