<html>
    <head>



    </head>
    <body>
        <h1>Claiming shift for {{ shift.first_name }} {{ shift.last_name }}</h1>
        <table>
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                <tr>
                    <td> {{shift.date}}       </td>
                    <td> {{shift.start_time}} </td>
                    <td> {{shift.end_time}}   </td>
                </tr>
            </table>
    </body>
</html>