{% load static %}
{% load filters %}

<html>

<head>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'hour_manager/css/comments.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'hour_manager/css/menu.css' %}">

    <script type="text/javascript" src="{% static 'hour_manager/js/index.js' %}"></script>

    <!-- Set start/end to jQuery datepickers -->
    <script>
        $(function() {
            $("#datepicker_one").datepicker({
                showButtonPanel: true,
                dateFormat: "yy-mm-dd"
            });
            $("#datepicker_two").datepicker({
                showButtonPanel: true,
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
</head>

<body id="hourbody">
    <div id="menu">
        <ul>
            <li><a href="{% url 'index' %}" class='menu_link'> Hours </a></li>
            <li><a href="{% url 'AddHour' %}" class='menu_link'> Give </a></li>
            <li><a href="{% url 'history' %}" class='menu_link'> History </a></li>
            <li><a href="{% url 'comments' %}" class='menu_link'> Comments </a> </li>
            <li><a href="{% url 'main_page:index' %}" class='menu_link'> Home </a></li>
        </ul>
    </div>
    <div id="hoursdiv">
        {% if date_err %}
            <h2>
                Please enter a valid date.
            </h2>
        {% endif %}
        {% if show_table %}
            <ul>
                {% for i in comments %}
                    {% if i.cover_username == user.username %}
                        <li>{{ i.date }} Covered hours {{ i.start_time|time_format }} - {{ i.end_time|time_format }} for {{ i.coveree_first }} {{ i.coveree_last }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <form action="." method="get">
                <!-- I already tried to name the inputs the same name, jquery won't do anything about it -->
                <span style='color: black'>From: </span><input readonly type="text" name="start" id="datepicker_one">
                <span style='color: black'>To: </span> <input readonly type="text" name="end" id="datepicker_two">
                <input type="submit">
            </form>
        {% endif %}
    </div>
</body>

</html>
