{% load static %}
{% load filters %}

<html>

<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "hour_manager/css/index.css" %}">
    <script type="text/javascript" src="{% static "hour_manager/js/index.js" %}"></script>
    <script src="{% static 'hour_manager/js/menu.js' %}"></script>
</head>

<body id="hourbody">
    <div class="menu">
        <a href="{% url 'index' %}"> Hour page </a>
        <a href="{% url 'AddHour' %}"> Give hours </a>
        <a href="{% url 'history' %}"> History page </a>
        <a href="{% url 'comments' %}"> Generate comments </a>
        <a href="{% url 'main_page:index' %}" id="main"> Home </a>
    </div>
    <div id="hoursdiv">
        <table class="hourtable">
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Person Covering</th>
            </tr>
            {% for i in history %}
            <tr class="info">
                <td> {{i.coveree_first}} </td>
                <td> {{i.coveree_last}} </td>
                <td> {{i.date}} </td>
                <td> {{i.start_time|time_format}} </td>
                <td> {{i.end_time|time_format}} </td>
                <td> {{i.cover_username}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>