{% load static %}

<html>
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="{% static 'hour_manager/js/picker.js' %}"></script>
    <script src="{% static 'hour_manager/js/picker.date.js' %}"></script>
    <script src="{% static 'hour_manager/js/picker.time.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'hour_manager/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'hour_manager/css/default.time.css' %}">
    <link rel="stylesheet" href="{% static 'hour_manager/css/default.date.css' %}">

    <link rel="stylesheet" href="{% static 'hour_manager/css/add_hour.css' %}">
    <script src="{% static 'hour_manager/js/menu.js' %}"></script>

    <script>
        var dateInput
        var startTimeInput
        var endTimeInput;
        
        weekdayStartTime = 8
        weekdayEndTime = 21
        
        saturdayStartTime = 11
        saturdayEndTime = 18
        
        sundayStartTime = 14
        // I have this comment here to show I didnt forget about sunday end time, it just happens to be the same as a normal week day
        // sundayEndTime = 21
        
        $(function() {
            dateInput = $('#id_date').pickadate({
              onClose: function() {   
                getPicker(startTimeInput).open()
              },
              
              format: 'dddd, mmmm dd, yyyy',
              formatSubmit: 'yyyy/mm/dd',
              formatSubmit: 'yyyy-mm-dd',
              hiddenSuffix: ''
            })
            
            dateInput.type = "date"
            
            startTimeInput = $('#id_start_time').pickatime({
              onOpen: function() {
                limitHoursToDay(startTimeInput, false)
              },
              
              onClose: function() {
                startData = getSelectData(startTimeInput)
                endData = getSelectData(endTimeInput)
                
                if (startData != null && endData != null) {
                  getPicker(endTimeInput).clear()
                }
                
                getPicker(endTimeInput).open()
              },
              
              interval: 60,
              formatSubmit: 'HH:i',
              hiddenSuffix: ''
            })
            
            endTimeInput = $('#id_end_time').pickatime({
              
              onOpen: function() {
                restrainTimeInput(endTimeInput, startTimeInput, true)
              },
              
              min: [weekdayStartTime, 0],
              max: [weekdayEndTime, 0],
              interval: 60,
              formatSubmit: 'HH:i',
              hiddenSuffix: ''
            })
            
            startTimeInput.type = endTimeInput.type = "time"
        });
        
        function setNewTime(min, max, increment, timeInput) {
          timePicker = getPicker(timeInput)
          
          min = increment ? min + 1 : min
          max = increment ? max : max - 1
          
          timePicker.set('min', [min, 0])
          timePicker.set('max', [max, 0])
        }
        
        function restrainTimeInput (inputToModify, baseInput, after) {
          if (getSelectData(baseInput) ==  null) {
            limitHoursToDay(inputToModify, after)
            return
          }
          
          minHour = after ? getSelectData(baseInput).hour : getPicker(inputToModify).get('min').hour
          maxHour = after ? getPicker(inputToModify).get('max').hour : getSelectData(baseInput).hour
          
          setNewTime(minHour, maxHour, after, inputToModify)
        }
        
        function limitHoursToDay(input, increment) {
          data = getSelectData(dateInput)
          if (data == null) {
            setNewTime(weekdayStartTime, weekdayEndTime, increment, input)
            return
          }
          
          switch (data.day) {
            case 0:
              setNewTime(sundayStartTime, weekdayEndTime, increment, input)
              break
            case 6:
              setNewTime(saturdayStartTime, saturdayEndTime, increment, input)
              break
            default:
              setNewTime(weekdayStartTime, weekdayEndTime, increment, input)
          }
        }
        
        function getPicker(input) {
          return (typeof input.pickadate('picker') == 'undefined') ? input.pickatime('picker') : input.pickadate('picker')
        }
        
        function getSelectData(input) {
          return getPicker(input).get('select')
        }
    </script>
</head>

<body>
    <div class="menu">
        <a href="{% url 'index' %}"> Hour page </a>
        <a href="{% url 'AddHour' %}"> Give hours </a>
        <a href="{% url 'history' %}"> History page </a>
        <a href="{% url 'comments' %}"> Generate comments </a>
        <a href="{% url 'main_page:index' %}" id="main"> Home </a>
    </div>
    <form method="POST" action=".">
        {% csrf_token %} 
        {{ form.as_p }}
        <input type="submit" value="Submit" onclick="checkTime();"/>
    </form>
</body>

</html>
