{% load static %}

<html>

<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'hour_manager/css/index.css' %}">
    <script type="text/javascript" src="{% static 'hour_manager/>js/index.js' %}"></script>
    <script src="{% static 'hour_manager/js/menu.js' %}"></script>

    {% if egg %}
        <script src="{% static 'hour_manager/js/egg.js' %}"></script>
    {% endif %}
    
</head>

<body id="hourbody">
    <div class="menu">
        <a href="{% url 'index' %}"> Hour page </a>
        <a href="{% url 'AddHour' %}"> Give hours </a>
        <a href="{% url 'history' %}"> History page </a>
        <a href="{% url 'comments' %}"> Generate comments </a>
        <a href="{% url 'main_page:index' %}" id="main"> Home </a>
    </div>
    {% if any_hours %}

        <h1 id="nohours"> No hours! </h1>

    {% else %}
        {% if egg %}

            <h1 id="nohours"> A E S T H E T I C </h1>

        {% endif %}
    <div id="hoursdiv">
        <table class="hourtable">
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Claim/Delete</th>
            </tr>
            {% for i in hours %}
            <tr class="info">
                <td> {{i.first_name}} </td>
                <td> {{i.last_name}} </td>
                <td> {{i.date}} </td>
                <td> {{i.start_time}} </td>
                <td> {{i.end_time}} </td>
                {% if i.username != user.username %}
                <td>
                    <a href="{% url 'claim_page' pk=i.pk %}"> <button id="claimbtn"> Claim </button></a>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'remove' pk=i.pk %}"> <button id="claimbtn"> Delete </button></a>
                </td>
                {% endif %}
                <td class="reasontd">
                    {{i.reason}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>

</html>