{% load static %}
{% load filters %}

<html>

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'hour_manager/css/index.css' %}">
    <script type="text/javascript" src="{% static 'hour_manager/js/index.js' %}"></script>
    <script src="{% static 'hour_manager/js/menu.js' %}"></script>
    <script src="{% static 'hour_manager/js/update_page.js' %}"></script>

    {% if egg %}
        <script src="{% static 'hour_manager/js/egg.js' %}"></script>
    {% endif %}

    <script>
        var primary_keys = [];
        function updateInfo() {
            for (i=0;i<primary_keys.length;i++) {
                $.get("/hourmanager/api/hour/" + primary_keys[i] + "/", function(data) {
                    $('#info_' + data.pk + " td").each(function(i, tr){
                        if (i == 4) 
                            $(this).text(data.end_time);
                        if (i == 3)
                            $(this).text(data.start_time);
                        if (i == 2) {
                            /* Need to properly update date */
                            var date = data.date;
                            var restOfString = date.indexOf(" ");
                            var currentDate = date.slice(0, 3) + "." + date.slice(restOfString);
                            if (currentDate.slice(5, 6) == "0") {
                                currentDate = currentDate.slice(0, 5) + currentDate.slice(6);
                            }
                            $(this).text(currentDate);
                        }
                    });
                });
            }
        }     
        $(document).ready(setInterval(function(){updateInfo()}, 1500))
    </script>
    
</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index' %}" class='menu_link'> Hours </a></li>
            <li><a href="{% url 'AddHour' %}" class='menu_link'> Give </a></li>
            <li><a href="{% url 'history' %}" class='menu_link'> History </a></li>
            <li><a href="{% url 'comments' %}" class='menu_link'> Comments </a> </li>
            <li><a href="{% url 'main_page:index' %}" class='menu_link'> Home </a></li>
        </ul>
    </div>
    <div id='info-tab'>

    </div>
    {% if any_hours %}
    
        <div id="hourdiv"> <h1 id="nohours"> No hours! </h1> </div>

    {% else %}
        {% if egg %}

            <h1 id="nohours"> A E S T H E T I C </h1>

        {% endif %}
    <div id="hoursdiv">
        <table class="hourtable">
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            {% for i in hours %}
            <script>
                primary_keys.push("{{i.pk}}");
            </script>
            <tr id="info_{{ i.pk }}">
                <td> {{i.first_name}} </td>
                <td> {{i.last_name}} </td>
                <td> {{i.date}} </td>
                <td> {{i.start_time|time_format}} </td>
                <td> {{i.end_time|time_format}} </td>
                {% if i.username != user.username %}
                <td style='display:none'>
                    <a href="{% url 'claim_page' pk=i.pk %}"></a>
                </td>
                {% else %}
                <td style='display:none'>
                    <a href="{% url 'AddHour' pk=i.pk %}"></a>  
                </td>
                {% endif %}
                <td class="reasontd" style='display:none'>
                    {{i.reason}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
        <div id='info-panel'>
            Hello my dudes.
        </div>
    {% endif %}
</body>

</html>
